.third-page__container {
    background: url("./BgThPage.svg") no-repeat;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #403E3B;
}
.third-page__title {
    line-height: 1.42em;

}
.title {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.third-page__row {
    max-width: fit-content;
    padding: 0 5vw;
}
.third-page__desc {
    font-size: 16px;
    line-height: 1.5em;
}

