.desc {
    background: #ECE7E4;
    min-height: 720px;

}
.desc__container {
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    gap: 6%;

}
.desc__logo {
    color: #645C55;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.42em;
}
.desc__title {
    font-size: 64px;
    line-height: 1.1em;
}
.desc__desc {
    font-size: 16px;
    line-height: 1.5em;
}
.desc__link {
    margin-left: 25px;
    letter-spacing: .4px;
    font-weight: 500;
}
.desc__content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 100px;
    min-height: 720px;
    gap: 20px;
}
.desc__content-right {
    min-width: 50%;
    min-height: 720px;
    position: relative;
}
.desc__content-right >a {
    position: absolute;
    display: flex;
    height: 100%;
}
.progressive img {
    height: 100%;
}


@media (max-width: 1050px) {
    .desc__container {
        position: relative;
    }
    .desc__content-left {
        margin: 0 0 0 0;
        align-items: center;
        text-align: center;
    }
    .desc__desc {
        padding: 0 5%;
    }
    .desc__link {
        margin-left: 0;
    }

    .desc__content-right {
       display: none;
    }


}
@media (max-width: 400px) {
    .desc__title {
        font-size: 50px;
    }
    .desc {
        min-height: 500px;
    }
    .desc__content-left {
        min-height: 500px;
    }

}

