.four-page {
    background: white;
}
.four-page__container {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}
.four-page__title {
    font-size: 39px;
    line-height: 1.07em;
    margin-bottom: 5vh;
}
.four-page__grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5vh 5vw;
}
.grid__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5vh;
}

.grid__img_1 {
    min-width: 117px;
    min-height: 102px;
}
.grid__title {
    font-size: 18px;
    line-height: 1.44em;
}
.grid__desc {
    padding: 0 2vw;
}
@media (max-width: 1050px) {
    .four-page__container {
        padding-top: 5vh;
    }
    .four-page__title {
        text-align: center;
    }
    .four-page__grid {
        grid-template-columns: 1fr;
    }

    .grid__container:last-of-type {
        margin-bottom: 5vh;
    }
}