.App {
  display: flex;
  max-width: 1440px;
  min-height: 100%;
  flex-direction: column;
  background: transparent;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

}
.App.active {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);

}
.App.fixed {
  position: fixed;
}
@media (max-width: 1435px) {
  .App.active {
    box-shadow: none;
  }
}
@media (max-width: 840px) {
  .App {
    display: contents;
  }
}

